<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Mahjong/mahjong_big_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,967},{52,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,967},{52,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,119},{72,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>Mahjong/mahjong_big_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,951},{14,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,55},{48,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,257},{42,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,63},{48,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,648},{48,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,967},{54,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,227},{52,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,967},{52,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,84}</string>
			</dict>
			<key>Mahjong/mahjong_big_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,967},{52,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,847},{50,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,553},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>Mahjong/mahjong_big_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,867},{34,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,76}</string>
			</dict>
			<key>Mahjong/mahjong_big_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,568},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,473},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,451},{48,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,953},{68,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,86}</string>
			</dict>
			<key>Mahjong/mahjong_big_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,147},{48,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,177},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,967},{52,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,84}</string>
			</dict>
			<key>Mahjong/mahjong_big_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,967},{52,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,84}</string>
			</dict>
			<key>Mahjong/mahjong_big_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,67},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,375},{60,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,74}</string>
			</dict>
			<key>Mahjong/mahjong_big_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,301},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,68}</string>
			</dict>
			<key>Mahjong/mahjong_big_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,451},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>Mahjong/mahjong_big_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,967},{52,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,84}</string>
			</dict>
			<key>Mahjong/mahjong_big_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,301},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>Mahjong/mahjong_big_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,568},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>Mahjong/mahjong_big_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,843},{50,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,967},{52,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,84}</string>
			</dict>
			<key>Mahjong/mahjong_big_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{64,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,86}</string>
			</dict>
			<key>Mahjong/mahjong_big_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,484},{66,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{70,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,82}</string>
			</dict>
			<key>Mahjong/mahjong_big_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,329},{74,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,80}</string>
			</dict>
			<key>Mahjong/mahjong_big_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,963},{60,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,88}</string>
			</dict>
			<key>Mahjong/mahjong_big_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,411},{60,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,86}</string>
			</dict>
			<key>Mahjong/mahjong_big_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,211},{66,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,88}</string>
			</dict>
			<key>Mahjong/mahjong_big_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,85},{62,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,90}</string>
			</dict>
			<key>Mahjong/mahjong_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,899},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,91},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,935},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,933},{32,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,43}</string>
			</dict>
			<key>Mahjong/mahjong_small_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,951},{6,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,903},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,759},{20,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,927},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,895},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,905},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,903},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,905},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,905},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,905},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,451},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>Mahjong/mahjong_small_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,759},{18,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,905},{28,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,935},{30,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,935},{30,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,335},{24,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,929},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,921},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,927},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,335},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,335},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,91},{28,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>Mahjong/mahjong_small_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,899},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>Mahjong/mahjong_small_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,451},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>Mahjong/mahjong_small_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,213},{26,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,29}</string>
			</dict>
			<key>Mahjong/mahjong_small_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,213},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,895},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>
			<key>Mahjong/mahjong_small_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,935},{30,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
			<key>Mahjong/mahjong_small_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,903},{24,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,213},{26,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,867},{34,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,43}</string>
			</dict>
			<key>Mahjong/mahjong_small_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,929},{34,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,929},{36,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,451},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>Mahjong/mahjong_small_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,933},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Mahjong/mahjong_small_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,933},{32,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,43}</string>
			</dict>
			<key>Mahjong/mahjong_small_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,931},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>
			<key>Mahjong/mahjong_small_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,933},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,245},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,123},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>Mahjong/mahjong_tile_left_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,491},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_top_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_desk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,671},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_desk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,779},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_desk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,671},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_desk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,759},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_desk0.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,491},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,277},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,415},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,553},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,691},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,829},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up3.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up4.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,123},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up5.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,261},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up6.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,399},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up7.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,537},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up8.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,675},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_up9.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,813},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down0.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,123},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down10.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,245},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down11.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,383},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,521},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,659},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,797},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down5.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,245},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down6.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,123},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down7.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down8.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,367},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/mahjong_tile_player_down9.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,505},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,781},{92,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,122}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_player_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,371},{52,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,68}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_player_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,781},{92,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,122}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_player_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,367},{92,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,122}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_side_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,67},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_side_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_side_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,147},{64,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,78}</string>
			</dict>
			<key>Mahjong2D/mahjong_tile_top_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,643},{120,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,136}</string>
			</dict>
			<key>Mahjong/desk_mahjong_tile_left_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,581},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>Mahjong/desk_mahjong_tile_player_down0.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,579},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/desk_mahjong_tile_player_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,667},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/desk_mahjong_tile_player_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,755},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/desk_mahjong_tile_player_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,363},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>Mahjong/desk_mahjong_tile_player_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,241},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Mahjong.png</string>
			<key>realTextureFileName</key>
			<string>Mahjong.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>