<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PlayBack3DUI/kong_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,77},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,77},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,127},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,127},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,125},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,153},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,177},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,177},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,177},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBack2DUI/kong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/kong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,175},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,203},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,203},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBackControlUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{508,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,122}</string>
			</dict>
			<key>PlayBackControlUI/close_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/close_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/pause_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/pause_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/play_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/play_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,77},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/replay_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,77},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/replay_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,77},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/speed_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,77},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/speed_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,77},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlaybackUI.png</string>
			<key>realTextureFileName</key>
			<string>PlaybackUI.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>