<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Emot/biaoqing_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,592},{184,232}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,671},{184,232}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,791},{184,232}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,413},{187,230}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,428},{187,230}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,403},{187,230}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,439},{187,230}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,602},{187,230}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,660},{187,230}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1459},{170,230}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1491},{170,230}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1589},{170,230}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1419},{170,230}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1256},{179,233}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1354},{179,233}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1157},{179,233}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1278},{179,233}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1238},{179,233}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1392},{179,233}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{199,227}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1},{199,227}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,202},{199,227}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,210},{199,227}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,208},{203,227}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,892},{186,229}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,778},{186,229}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,905},{186,229}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_6_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1123},{186,229}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,966},{189,224}}</string>
				<key>offset</key>
				<string>{30,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1012},{189,224}}</string>
				<key>offset</key>
				<string>{30,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{207,224}}</string>
				<key>offset</key>
				<string>{20,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{247,224}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1},{205,228}}</string>
				<key>offset</key>
				<string>{14,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,778},{182,232}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1093},{183,229}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
			<key>Emot/biaoqing_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1025},{184,229}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,234}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>biaoqing.png</string>
			<key>realTextureFileName</key>
			<string>biaoqing.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>