<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Expression/kiss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,49},{71,63}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{61,60}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,280},{69,70}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,420},{78,80}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,302},{61,91}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,122},{61,56}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,185},{61,56}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,225},{53,51}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,352},{64,56}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,411},{79,69}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,426},{92,78}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,248},{61,56}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,420},{88,75}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,64},{83,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,64},{83,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,196},{83,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,281},{80,72}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,149},{74,68}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1},{61,56}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,64},{55,57}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,64},{61,56}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1},{61,56}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,122},{61,56}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/cheers_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,108},{139,56}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1},{148,75}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,314},{148,75}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,428},{136,62}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,429},{135,63}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1},{127,61}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,303},{127,61}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,108},{105,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1},{105,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,314},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,151},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,313},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,157},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/egg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,211},{89,76}}</string>
				<key>offset</key>
				<string>{3,25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,211},{45,80}}</string>
				<key>offset</key>
				<string>{11,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,149},{45,80}}</string>
				<key>offset</key>
				<string>{11,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,166},{43,90}}</string>
				<key>offset</key>
				<string>{12,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,259},{42,98}}</string>
				<key>offset</key>
				<string>{13,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,215},{42,104}}</string>
				<key>offset</key>
				<string>{13,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,266},{45,105}}</string>
				<key>offset</key>
				<string>{14,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,464},{44,109}}</string>
				<key>offset</key>
				<string>{14,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1},{105,105}}</string>
				<key>offset</key>
				<string>{3,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{154,139}}</string>
				<key>offset</key>
				<string>{1,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,366},{58,67}}</string>
				<key>offset</key>
				<string>{11,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,366},{58,67}}</string>
				<key>offset</key>
				<string>{11,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,365},{53,70}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,365},{53,70}}</string>
				<key>offset</key>
				<string>{11,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1},{46,78}}</string>
				<key>offset</key>
				<string>{11,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Expression/egg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,363},{46,78}}</string>
				<key>offset</key>
				<string>{11,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>expression.png</string>
			<key>realTextureFileName</key>
			<string>expression.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>