<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_sezi_A_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,291},{119,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,44}}</string>
                <key>sourceSize</key>
                <string>{119,44}</string>
            </dict>
            <key>sezi_A_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,349},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>sezi_A_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,905},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,81}</string>
            </dict>
            <key>sezi_A_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,620},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>sezi_A_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,777},{113,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,124}}</string>
                <key>sourceSize</key>
                <string>{113,124}</string>
            </dict>
            <key>sezi_A_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{115,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,147}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>sezi_A_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,504},{114,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,158}}</string>
                <key>sourceSize</key>
                <string>{114,158}</string>
            </dict>
            <key>sezi_A_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{115,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,154}}</string>
                <key>sourceSize</key>
                <string>{115,154}</string>
            </dict>
            <key>sezi_A_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,600},{121,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,92}}</string>
                <key>sourceSize</key>
                <string>{121,92}</string>
            </dict>
            <key>sezi_A_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,826},{124,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>sezi_A_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,652},{126,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,123}}</string>
                <key>sourceSize</key>
                <string>{126,123}</string>
            </dict>
            <key>sezi_A_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,891},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>sezi_A_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,445},{129,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,90}}</string>
                <key>sourceSize</key>
                <string>{129,90}</string>
            </dict>
            <key>sezi_A_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,469},{129,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,88}}</string>
                <key>sourceSize</key>
                <string>{129,88}</string>
            </dict>
            <key>sezi_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,84},{17,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,64}}</string>
                <key>sourceSize</key>
                <string>{17,64}</string>
            </dict>
            <key>sezi_B_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,722},{53,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,99}}</string>
                <key>sourceSize</key>
                <string>{53,99}</string>
            </dict>
            <key>sezi_B_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,620},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>sezi_B_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,557},{154,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,85}}</string>
                <key>sourceSize</key>
                <string>{154,85}</string>
            </dict>
            <key>sezi_B_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{181,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,72}}</string>
                <key>sourceSize</key>
                <string>{181,72}</string>
            </dict>
            <key>sezi_B_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{203,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,72}}</string>
                <key>sourceSize</key>
                <string>{203,72}</string>
            </dict>
            <key>sezi_B_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>sezi_B_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{213,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,80}}</string>
                <key>sourceSize</key>
                <string>{213,80}</string>
            </dict>
            <key>sezi_B_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>sezi_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,221},{191,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,65}}</string>
                <key>sourceSize</key>
                <string>{191,65}</string>
            </dict>
            <key>sezi_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,221},{181,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,64}}</string>
                <key>sourceSize</key>
                <string>{181,64}</string>
            </dict>
            <key>sezi_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,230},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>sezi_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{174,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,72}}</string>
                <key>sourceSize</key>
                <string>{174,72}</string>
            </dict>
            <key>sezi_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{175,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,76}}</string>
                <key>sourceSize</key>
                <string>{175,76}</string>
            </dict>
            <key>sezi_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,134},{175,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,85}}</string>
                <key>sourceSize</key>
                <string>{175,85}</string>
            </dict>
            <key>sezi_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,287},{174,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,90}}</string>
                <key>sourceSize</key>
                <string>{174,90}</string>
            </dict>
            <key>sezi_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,301},{171,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,91}}</string>
                <key>sourceSize</key>
                <string>{171,91}</string>
            </dict>
            <key>sezi_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{164,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,96}}</string>
                <key>sourceSize</key>
                <string>{164,96}</string>
            </dict>
            <key>sezi_B_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,723},{153,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,100}}</string>
                <key>sourceSize</key>
                <string>{153,100}</string>
            </dict>
            <key>sezi_B_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,718},{143,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,102}}</string>
                <key>sourceSize</key>
                <string>{143,102}</string>
            </dict>
            <key>sezi_B_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,886},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>sezi_C_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,379},{171,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,53}}</string>
                <key>sourceSize</key>
                <string>{171,53}</string>
            </dict>
            <key>sezi_C_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,394},{168,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,108}}</string>
                <key>sourceSize</key>
                <string>{168,108}</string>
            </dict>
            <key>sezi_C_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,434},{167,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,123}}</string>
                <key>sourceSize</key>
                <string>{167,123}</string>
            </dict>
            <key>sezi_C_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{166,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>sezi_C_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{158,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,168}}</string>
                <key>sourceSize</key>
                <string>{158,168}</string>
            </dict>
            <key>sezi_C_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,288},{155,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,186}}</string>
                <key>sourceSize</key>
                <string>{155,186}</string>
            </dict>
            <key>sezi_C_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,76},{152,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,197}}</string>
                <key>sourceSize</key>
                <string>{152,197}</string>
            </dict>
            <key>sezi_C_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{144,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,201}}</string>
                <key>sourceSize</key>
                <string>{144,201}</string>
            </dict>
            <key>sezi_C_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,148},{141,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,196}}</string>
                <key>sourceSize</key>
                <string>{141,196}</string>
            </dict>
            <key>sezi_C_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,84},{135,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,186}}</string>
                <key>sourceSize</key>
                <string>{135,186}</string>
            </dict>
            <key>sezi_C_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{130,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,179}}</string>
                <key>sourceSize</key>
                <string>{130,179}</string>
            </dict>
            <key>sezi_C_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,291},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,172}}</string>
                <key>sourceSize</key>
                <string>{129,172}</string>
            </dict>
            <key>sezi_C_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,559},{132,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,164}}</string>
                <key>sourceSize</key>
                <string>{132,164}</string>
            </dict>
            <key>sezi_C_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,422},{133,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,158}}</string>
                <key>sourceSize</key>
                <string>{133,158}</string>
            </dict>
            <key>sezi_C_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,693},{131,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>sezi_C_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,557},{132,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,144}}</string>
                <key>sourceSize</key>
                <string>{132,144}</string>
            </dict>
            <key>sezi_C_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,889},{135,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,133}}</string>
                <key>sourceSize</key>
                <string>{135,133}</string>
            </dict>
            <key>sezi_C_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,886},{135,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,126}}</string>
                <key>sourceSize</key>
                <string>{135,126}</string>
            </dict>
            <key>sezi_C_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,900},{133,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,120}}</string>
                <key>sourceSize</key>
                <string>{133,120}</string>
            </dict>
            <key>sezi_C_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,537},{132,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,113}}</string>
                <key>sourceSize</key>
                <string>{132,113}</string>
            </dict>
            <key>sezi_C_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,713},{131,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,107}}</string>
                <key>sourceSize</key>
                <string>{131,107}</string>
            </dict>
            <key>sezi_Left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,822},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>sezi_Left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,822},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>sezi_Left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,822},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>sezi_Left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,822},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>sezi_Left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,823},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>sezi_Left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,825},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>sezi_Right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,825},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>sezi_Right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,825},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>sezi_Right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,826},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>sezi_Right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,422},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>sezi_Right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,285},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>sezi_Right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,221},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sezi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c2be8987dafb0ae46d6dc84382e3d0$</string>
            <key>textureFileName</key>
            <string>sezi.png</string>
        </dict>
    </dict>
</plist>
